<div class="box box-default" id="[[id]]">
    <div class="box-header with-border">
        <h3 class="box-title">[[title]]</h3>
        {{IF [[depends]] != "" }}
            <span class="pull-right">Depends on <b><span id="dependsOn">[[depends]]</span></b> has value <b><span id="dependsOnValue">[[dependsValue]]</span></b></span>
        {{ENDIF}}
    </div>
    <div class="box-body">
        [[content]]
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary" onclick="addElement('[[id]]')">Add Element</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" onclick="deleteGroup('[[id]]')">Delete Group</button>
    </div>
</div>