<style>
    .drag {
        cursor: move;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<div class="box box-default drag" id="draggable">
    <div class="box-header with-border">
        <h3 class="box-title">[[title]]</h3>
    </div>
    <div class="box-body">
        <div class="row">
            [[plotData]]
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // select and loop all plots to apply draggability
        let draggablePlots = document.querySelectorAll('.drag');
        draggablePlots.forEach(draggable => {
            draggable.addEventListener('mousedown', function (e) {
                e.preventDefault();
                let offsetX = e.clientX - draggable.getBoundingClientRect().left;
                let offsetY = e.clientY - draggable.getBoundingClientRect().top;

                function mouseMovementHandler(e) {
                    // Apply position: 'absolute' after the page is loaded
                    //draggable.style.position = 'absolute';
                    draggable.style.left = `${e.clientX - offsetX}px`;
                    draggable.style.top = `${e.clientY - offsetY}px`;
                }
                function mouseUpHandler() {
                    document.removeEventListener('mousemove', mouseMovementHandler);
                    document.removeEventListener('mouseup', mouseUpHandler);
                }

                document.addEventListener('mousemove', mouseMovementHandler);
                document.addEventListener('mouseup', mouseUpHandler);
            });
    });
});</script>